.new-character-box
  %p= "Vamos a agregar un nuevo personaje, recuerde que '#{@last_node.value}' debe ser una de las respuestas"
  = render :partial => "nodes/new/form", :locals => {new_node: @new_node, last_node: @last_node}
