.new-character-box
  %h2= "Vamos a agregar un nuevo personaje"
  %h5= "Recuerde que '#{@last_node.value}' debe ser una de las respuestas."
  = render :partial => "nodes/new/form", :locals => {new_node: @new_node, last_node: @last_node}
