- if @node.has_next?
  = render :partial => "nodes/show/question", :locals => {:question => @node}
- else
  = render :partial => "nodes/show/result", :locals => {:result => @node, :last_answer => @last_answer}
